*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-size: 100%;
}

body {
	font-family: sans-serif;
}

h1 {
	padding:20px 30px;
}

p {
	padding-left: 30px;
}

.position_box {
	border: 2px solid #000;
	height: 40vh;
	margin: 20px 500px;
}

.inner_box {
	position: relative;
	
	top: 40px;
	left: 40px;
	bottom: 40px;
	right: 40px;

	height: 100px;
	width: 100px;
	background: #a7a7a7;
}